.wrapper {
  padding: 5rem 0;
}

.creator {
  position: relative;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-blue);
  margin-bottom: var(--spacing-large);
  padding: var(--spacing);

  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 48rem) {
  .creator {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    padding: var(--spacing-large);
  }
}

.creator__name {
  position: absolute;
  top: 0;
  left: 3rem;
  transform: translateY(-50%);
  padding: 0 1rem;
  background-color: var(--color-white);
  font-size: 1.4rem;
}

.creator__name strong {
  color: var(--color-blue);
}

@media only screen and (min-width: 48rem) {
  .creator__name {
    font-size: 1.8rem;
  }
}

.creator__container {
  margin-top: var(--spacing);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.creator__img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 48rem) {
  .creator__img {
    height: 18rem;
    width: 18rem;
  }
}

.creator__text {
  padding: var(--spacing);
  line-height: 1.7;
}

@media only screen and (min-width: 48rem) {
  .creator__text {
    padding: var(--spacing-large);
  }
}

.source {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
}

@media only screen and (min-width: 48rem) {
  .source {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: var(--spacing-large);
    align-items: center;
    padding: var(--spacing-large);
  }
}

.source__img {
  margin-bottom: var(--spacing);
  max-height: 40rem;
}

@media only screen and (min-width: 48rem) {
  .source__img {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 48rem) {
  .source__text {
    padding: 3rem;
  }
}

.source__heading {
  font-size: 2.4rem;
  margin-bottom: var(--spacing-large);
}

.source__paragraph {
  font-weight: 600;
  line-height: 1.6;
}

.source__heading strong,
.source__paragraph span {
  color: var(--color-blue);
}
