html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-dark: #222831;
  --color-gray: #393e46;

  --color-blue: #ff0092;
  --color-blue-light: #ff1973;
  --color-blue-dark: #e50083;

  --color-green: #00d693;

  --color-light: #fcfcfc;
  --color-white: #ffffff;

  --spacing: 1.5rem;
  --spacing-large: 3rem;

  --border-radius: 2rem;
  --box-shadow: 0px 2px 1px -1px rgba(26, 23, 22, 0.2),
    0px 1px 1px 0px rgba(26, 23, 22, 0.14),
    0px 1px 3px 0px rgba(26, 23, 22, 0.12);
}

img {
  display: block;
  max-width: 100%;
  border-style: none;
}

ul,
ol {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a::-moz-focus-inner,
button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
  outline: none;
}

textarea {
  resize: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.color-primary {
  color: var(--color-blue);
}
